@font-face {
  font-family: "Orbitron", sans-serif;
  src: url(./assets/fonts/ExpletusSans-VariableFont_wght.ttf);
}

h1,
h2,
h3 {
  font-family: "Orbitron", sans-serif;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.9);
}

body {
  background-color: #0006d3;
  color: #fef7eb;
}

#search-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

.capitalize {
  text-transform: capitalize;
}

#pokedex-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

#pokedex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px;
}

.dex-card {
  aspect-ratio: 3 / 2;
  width: 220px;
  box-shadow: 0 0 5px #1d7bff;
  border: outset 3px #1d7bff;
}

.dex-card:hover {
  box-shadow: 0 0 5px #d6bb07;
  border: inset 3px #efd007;
}

.detail-card {
  aspect-ratio: 3 / 2;
  width: 500px;
  box-shadow: 0 0 5px #169c07;
  border: inset 3px #24d80f;
}

.detail-card:hover {
  box-shadow: 0 0 5px #d6bb07;
  border: inset 3px #efd007;
}

.error {
  background-color: #01069b;
  box-shadow: 0 0 5px #a11927;
  border: outset 3px #bf1f30;
}

.error:hover {
  box-shadow: 0 0 5px #da5802;
  border: inset 3px #f88502;
}

.error-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.9));
  box-shadow: 2px 2px 4px #790e19;
}

.poke-image {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.9));
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#loading-overlay {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
}

#detail-overlay {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  font-family: "Orbitron", sans-serif;
  font-size: 1.5rem;
  margin-top: 10px;
}

.noscroll {
  overflow: hidden;
}

.nav-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .detail-card {
    width: 300px;
  }
}

@media (max-width: 350px) {
  .detail-card {
    width: 280px;
  }
}
