#content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#button-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  padding: 5px;
  border-radius: 5px;
  background-color: #efd007;
  border: outset 1px #ff8000;
  color: #001ea1;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 0 5px #bf1f30;
  border: inset 1px #b41324;
  color: #001ea1;
}

.content-box {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #1d7bff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.text-input {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #001ea1;
  border: solid 1px #0947a7;
  transition: border-color 0.3s ease;
  color: #fef7eb;
}

.text-input:focus {
  box-shadow: 0 0 5px #1d7bff;
  border: solid 1px #1d7bff;
  color: #fef7eb;
  outline: none;
}

.card {
  width: 25rem;
}

.card:hover {
  cursor: pointer;
}

#overlay {
  z-index: 2;
  height: 100rem;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}