#content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

#button-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.button {
  padding: 5px;
  border-radius: 5px;
  background-color: #efd007;
  border: outset 3px #fae352;
  color: #001ea1;
  cursor: pointer;
  font-family: "Orbitron", sans-serif;
}

.button:hover {
  box-shadow: 0 0 5px #fae352;
  border: inset 3px #fae352;
  color: #001ea1;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
  border: outset 3px #aaa;
  box-shadow: none;
}

.content-box {
  padding: 5px;
  border-radius: 5px;
  border: solid 1px #1d7bff;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.text-input {
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #001ea1;
  border: solid 1px #0947a7;
  transition: border-color 0.3s ease;
  color: #fef7eb;
}

.text-input:focus {
  box-shadow: 0 0 5px #1d7bff;
  border: solid 1px #1d7bff;
  color: #fef7eb;
  outline: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  padding: 5px;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.9);
}

.card:hover {
  cursor: pointer;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
